<h2>TogForum</h2>

<table class="tableB">
  <thead>
    <tr>
      <th scope="col">title</th>
      <th scope="col">topics</th>
      <th scope="col">last post</th>
      <th scope="col">rating</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4" class="info_results">
        <span class="info_items"><%= page_entries_info @forums %></span>
        <span class="pages_navigation right">
          <%= will_paginate @forums, :container => false %>
        </span>
      </td>
    </tr>
  </tfoot>
  <tbody>
  <% @forums.each do |form| %>
    <tr<%= cycle(' class="pair"','') -%>>
       <td><%= link_to forum.title, forum_path(:id => forum) %></td>
       <td><%= forum.topics.size %></td>
       <td><%= forum.updated_at.to_formatted_s(:db) %></td>
       <td><%= "rating" %></td>
    </tr>
  <%end%>
  <% if @forums.blank? %>
    <tr>
       <td colspan="4">No forums.</td>
    </tr>
  <% end %>
  <tbody>
</table>
