<thead>
  <tr>
    <th scope="col">
      <%= link_to_remote "topic", { :url => forum_path({:forum => @forum, :order => "title", :page => @page, :asc => @asc}), :method => :get, :update => "topics_paginated" } %>
    </th>
    <th scope="col">
      <%= link_to_remote "posts", { :url => forum_path({:forum => @forum, :order => "posts_count", :page => @page, :asc => @asc}), :method => :get, :update => "topics_paginated" } %>
    </th>
    <th scope="col">
      <%= link_to_remote "author", { :url => forum_path({:forum => @forum, :order => "user_id", :page => @page, :asc => @asc}), :method => :get, :update => "topics_paginated" } %>
    </th>
    <th scope="col">
      <%= link_to_remote "last post", { :url => forum_path({:forum => @forum, :order => "last_post_at", :page => @page, :asc => @asc}), :method => :get, :update => "topics_paginated" } %>
    </th>
    <th scope="col">
      <%= link_to_remote "rating", { :url => forum_path({:forum => @forum, :order => "current_rating", :page => @page, :asc => @asc}), :method => :get, :update => "topics_paginated" } %>
    </th>
    <th scope="col">
        admin
    </th>
    <% end %>
  </tr>
</thead>
<tfoot>
 <tr>
  <td colspan="4" class="info_results">
   <span class="info_items"><%= page_entries_info @topics %></span>
   <span class="pages_navigation right">
     <%= will_paginate @topics, :renderer => 'RemoteLinkRenderer', :remote => {:update => "topics_paginated"}, :class => "pager pager_bottom" %>
   </span>
 </td>
 </tr>
</tfoot>
<tbody>
 <%= render :partial => "/forums/partials/topic", :collection => @topics %>
</tbody>
