<div class="portlet portletB clearfix" id="topic_posts_list">
  <h2><span><%= link_to @forum.title, forum_path(@forum) %>: <%= @topic.title %></span></h2>
  <div class="detail detail1" style="clear: both; width: 100%;">
    <div>
      <div id="ratings_graph_box" class="clearfix" style="margin-bottom: 20px;">
        <%= 'render :partial => "/home/partials/ratings_graph", :locals => {:voteable => @topic}' %>
      </div>

      <%= render :partial => "/topics/partials/original_topic", :object => @topic %>
      <br />

      <%= render :partial => "/topics/partials/highlighted_post", :object => @highlighted_post unless @highlighted_post.blank? %>
      <br />

      <table class="tableB">
        <% if @posts.blank? %>
          <tr>
             <td colspan="2">No replies found!</td>
          </tr>
        <% else %>
          <tfoot>
            <tr>
              <td colspan="2" class="info_results">
                <span class="info_items"><%= page_entries_info @posts, :entry_name => "post" %></span>
                <span class="pages_navigation right">
                  <%= will_paginate @posts, :container => false %>
                </span>
              </td>
            </tr>
          </tfoot>
          <tbody>
            <%= render :partial => "/topics/partials/post", :collection => @posts %>
          </tbody>
        <% end %>
      </table>

      <% if logged_in? %>
        <% form_for :post, :url => {:controller=>"posts", :action=>"create", :forum_id => @forum, :topic_id => @topic } do |f| %>
          <dl class="alignright">
            <%= render :partial => "/topics/partials/form", :locals => { :f => f } %>
            <dt></dt>
            <dd><%= submit_tag 'post message', {:class=>"button mainaction"} %></dd>
          </dl>
        <% end %>
          
      <% end %>
    </div>
  </div>
</div>