<h2><%= @forum.title %> :: <%= @topic.title %> :: Posts</h2>
<br />
<table class="tableB">
  <% if @posts.blank? %>
    <tr>
       <td colspan="2">No posts found!</td>
    </tr>
  <% else %>
    <tfoot>
      <tr>
        <td colspan="2" class="info_results">
          <span class="info_items"><%= page_entries_info @posts %></span>
          <span class="pages_navigation right">
            <%= will_paginate @posts, :container => false %>
          </span>
        </td>
      </tr>
    </tfoot>
    <tbody>
    <% @posts.each do |post| %>
      <tr class="pair">
        <td width="50%"><%= link_to post.user.login, user_url(post.user) %></td>
        <td width="50%"><%= post.updated_at.to_formatted_s(:db) %></td>
      </tr>
      <tr>
        <td colspan="2">
          <%= h post.body %>
        </td>
      </tr>
      
      <% if current_user and current_user.admin? %>
        <tr><td>
         <%= link_to "delete this post", forum_topic_post_url(:forum_id => @forum.id, :topic_id => @topic.id, :id => post.id), :method => :delete %>
       </td></tr>
      <% end %>
      
    <%end%>
  <% end %>
  </tbody>
</table>