<a name="post_<%= post.id %>"></a>
<tr class="pair">
  <td width="50%"><%= link_to post.user.login, profile_path(post.poster_profile) %></td>
  <td width="50%" align="right">
    <%= post.updated_at.to_formatted_s(:forums) %>
      <%= link_to "[delete post]", forum_topic_post_url(:forum_id => @forum.id, :topic_id => @topic.id, :id => post.id), :method => :delete, :confirm => "Are you sure?" %>
  </td>
</tr>
<tr>
  <td colspan="2">
    <%= post.body %>
  </td>
</tr>
